{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% for project in projects.list %}
    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="cert-title">
            {% if project.link %}
              <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
            {% else %}
              {{ project.title }}
            {% endif %}
          </h3>
          {% if project.time %}
          <div class="time">{{ project.time }}</div>
          {% endif %}
        </div><!--//upper-row-->
      </div><!--//meta-->

      {% if project.image %}
      <div class="project-image">
        <img src="{{ project.image | relative_url }}" alt="{{ project.title }}">
      </div>
      {% endif %}

      {% if project.tagline %}
      <div class="details">
        {{ project.tagline | markdownify }}
      </div>
      {% endif %}
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
